<% include partials/header %>

    <section id="about">
      <div class="container">
        <h2>Sobre</h2>
        <div class="row">
          <div class="col-10 col-md-2">
            <img id="img-perfil" src="/images/25777532.jpeg" alt="foto do desenvolvedor" class="rounded-circle img-fluid">
          </div>
          <div class="col-12 col-md-4">
            <p class="lead">Nome: Gadiel Kalleb</p>
            <p class="lead">email: gadiel_kalleb@hotmail.com</p>
            <p class="lead">telefone: +55 (11) 98194-4516</p>
            <p class="lead">Meu github <a href="https://github.com/gadielkalleb" target="_blanck">gadielkalleb</a></p>
            <p class="lead">Meu Artigo sobre bots no linkedin<a href="https://www.linkedin.com/pulse/bot-telegram-para-registro-de-gastos-parte-2-gadiel-kalleb/" target="_blanck">gadielkalleb</a></p>
            <p class="lead"> Projeto pratico usando: <p>
            <ul>
              <li>Node.JS</li>
              <li>Express</li>
              <li>Mongoose</li>
              <li>templane engine com EJS</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

<% include partials/footer %>