<% include ../partials/header %>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            
            <form method="post">
              <div class="form-group">
                <label for="name">Titulo</label>
                <input type="text" class="form-control" id="title" aria-describedby="namelHelp" name="title" value="<%= posts.title %>">
                
                <label for="author">Autor</label>
                <input type="text" class="form-control" id="author" aria-describedby="authorlHelp"  name="author" value="<%= posts.author %>">
                
                <label for="movie_title">Titulo Filme</label>
                <input type="text" class="form-control" id="movie_title" aria-describedby="movie_titlelHelp" name="movie_title" value="<%= posts.movie_title %>">
                
                <label for="contentPost">Conteudo do post</label>
                <textarea type="text" class="form-control" id="contentPost" aria-describedby="contentPostlHelp" name="contentPost"><%= posts.contentPost %></textarea>
                
                <% if(errors && errors.indexOf('name')>=0) { %> 
                  <div class="alert alert-danger" role="alert">
                    Os campos não podem ser vazio
                  </div>
                <% } %>
              </div>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </section>

<% include ../partials/footer %>